.menu {
   float:left;
   width:20%;
   overflow: auto;
   border: 0;
   visibility:hidden; 
}
.mainContent {
   float:left;
   width:80%;
   overflow: auto;
   margin: 0;
   padding: 0;
   border: 0;
   visibility:hidden; 
   background-color: #f1f1f1;
}
