body{
    width:95%;
    margin:0 auto;
}

table {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-collapse: collapse;
    width: 95%;
    margin-left:10px;
}

th {
    text-align: left;
    padding: 8px;
    background-color: #666666;
    color: white;
}

td {
    text-align: left;
    padding: 4px;
}
