body{
    margin:0 auto;
}

table {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #ddd;
}

th {
    text-align: center;
    padding: 8px;
    background-color: #666666;
    color: white;
}

td {
    text-align: left;
    padding: 4px;
}

input[type=text], input[type=date], select {
    width: 100%;
    padding: 4px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.dateCol {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.categoryCol {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.descCol {
    margin-left: auto;
    margin-right: auto;
}

.amountCol {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.buttonCol {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}
