body{
    width:95%;
    margin:0 auto;
}

table {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-collapse: collapse;
    width: 95%;
    margin-left:10px;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #666666;
    color: white;
}

tr:hover {
    background-color:#f5f5f5;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}
