#container {
    position: fixed;
    top: 30%;
    left: 34%;
    width: 30%;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-collapse: collapse;

    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form {
    margin: 0 auto;
}
label {
    margin-top: 8px;
    display: block;
}
input {
    width: 100%;
    display: block;
}
#lower input {
    margin-top: 1%;
    width: auto; 
}

input[type=submit] {
    background-color: #555555;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=password] {
    width: 100%;
    padding: 4px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#msg {
    height:20px;
}
