body{
    width:95%;
    margin:0 auto;
}
table {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-collapse: collapse;
    width: 45%;
    float:left;
    margin-left:10px;
    margin-top:5px;
}

th, td {
    text-align: left;
    padding: 8px;
    overflow:hidden;
}

th {
    background-color: #666666;
    color: white;
}
